SetEnv SMTPDEV_TOKEN smtplabs_oLbfGHXTXXbXd5gDnVbnwgDsDtfVvzyggqBBHwbKYCWPGWm3
SetEnv MOCK_VERIFY_ALLOWED_HOSTS localhost,127.0.0.1,::1
SetEnv MOCK_VERIFY_BUTTON_SELECTOR [data-testid="mock-verify-button"]
